header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 300px;
  height: 90vh;
  width: 100vw;
  background: url(../images/header-bg.jpeg) no-repeat center center;
  background-size: cover;
  overflow-y: hidden;

  @media only screen and (max-width: 767px) {
    min-height: 80vh;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    min-height: 70vh;
  }

  @media only screen and (min-width: 1024px) {
    min-height: 61vh;
  }
}
