.cls-1,
.cls-2 {
  fill: #fb913d;
}

.cls-1 {
  fill-opacity: 0.61;
}

.cls-1,
.cls-2,
.cls-5 {
  fill-rule: evenodd;
}

.cls-2 {
  stroke: #fff;
}

.cls-2,
.cls-5 {
  stroke-width: 1px;
}

.cls-3 {
  font-size: 55px;
  text-align: center;
  width: 100%;
  fill: #fcfcfc;
}

.cls-3,
.cls-4 {
  font-family: Calibri;
  font-weight: 700;
}

.cls-4 {
  font-size: 28px;
  fill: #442207;
}

.cls-5 {
  fill: none;
  stroke: #fb913d;
}

svg#logo {
  width: 190px;
  height: 100px;
}
