:root {
  --index: calc(1vw + 1vh);
}

$regular-text: 16px;
$lineheight: 1.75;
$accent-color: #fb913d;
$userfont: "Calibri", sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$transition: cubic-bezier(0.4, 0, 0, 1);
