.logo {
  width: 39%;
  margin-top: .618em;
  @media (max-width: 608px) {
    width: 100%;
  }
  &__name {
    padding: 1%;
    @media (max-width: 608px) {
      width: 100%;
    }
  }
  img {
    width: 61%;
    @media (min-width: 608px) {
      width: 39%;
    }
  }
}