.recall {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: .618em;
  background-color: white;
  width: 100%;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  z-index: 9998;
  font-size: .618em;
  @media (max-width: 800px) {
    flex-direction: column;
  }

  input {
    width: 50%;
    padding: 1em;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    margin-bottom: .618em;
    border: 1px solid #131313;
    background-color: #fff;
    outline: none;
    text-align: left;
    @media (max-width: 800px) {
      height: 30px;
      font-size: 1em;
    }
  }

  button {
    width: 50%;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    border-radius: 0 4px 4px 0;
    margin-bottom: .618em;
    border: none;
    background-color: #4C9581;
    outline: none;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.75);
    @media (max-width: 800px) {
      height: 30px;
      font-size: 1em;
    }
  }

  label {
    width: 50%;
  }

  &__label, &__field {
    width: 50%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__field {
    @media (max-width: 800px) {
      padding-right: 0 !important;
    }
  }

  &__field form {
    display: flex;
    padding-right: 1em;
  }

  & + .recall {
    display: none;
    padding: .618em .618em 0 .618em;
    background-color: #94CABB;
  }
}
